/* h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px auto;
    background-color: rgba(116, 0, 134, 0.6);
    color: #fff;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    max-width: 300px;
    border-radius: 5px;
}

li:hover {
    background-color: rgba(116, 0, 134, 0.8);
}

button {
    display: block;
    margin: 20px auto;
    background-color: rgb(60, 70, 240);
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
} */
